{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock %}

{% block content %}

    <div class="hero">
        <h1>Human-Centric <span class="tooltip">Artificial Intelligence</span></h1>
        <p class="quote">“The science of making machines think like humans.”</p>

        <div class="members">
            <ul class="student-list">
                {% for student in students %}
                    <li class="student-item">
                        <div class="student-info">
                            <span class="student-name">{{ student.name }}</span>
                            <span class="student-matriculation">{{ student.matriculation }}</span>
                        </div>
                     </li>
                {% empty %}
                    <li>No students found.</li>
                {% endfor %}
            </ul>
    </div>


        <div class="projects">
            {% for project in projects %}
                <div class="project-box">
                    <form action="{% url project.url_name %}" method="get">
                        {% csrf_token %}
                        <button type="submit" style="all: unset; cursor: pointer;">{{ project.name }}</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>

        <div class="balls-container">
            {% for i in "0123456789" %}
                <div class="ball delay{{ forloop.counter0 }}"></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}
