body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: url("/static/home/images/background_img.png") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    overflow-x: hidden;
}
