/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(16, 21, 64, 0.8);
    align-items: center;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .nav-links li {
    display: inline;
    margin-left: 20px;
}

.navbar .nav-links a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: #0ff;
}
